
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    height: 100%;
    width: 70%;
    background-color: rgba(0, 104, 73, 0.689);
  }